service cloud.firestore {
  match /databases/{database}/documents {

    function userIsAuthenticated () {
      return request.auth.uid != null;
    }

    function userOwnsResource (userId) {
      return request.auth.uid == userId
    }

    function userIsParticipant (participants) {
      return participants[request.auth.uid] != null;
    }

    function matchesUserEmail (email) {
      return request.auth.token.email == email
    }

    function userIsTheirFriend(userId) {
    	return exists(/databases/$(database)/documents/profile/$(userId)/friends/$(request.auth.uid));
    }

    match /events/{event} {
      allow read, write: if userIsParticipant(resource.data.participants);
      allow create: if userIsAuthenticated();
    }

    match /profile/{uid} {
      allow create, write: if userOwnsResource(uid);
      allow read: if userOwnsResource(uid) || userIsTheirFriend(uid);
    }

    match /profile/{uid}/friends/{id} {
      allow create, read, write: if userOwnsResource(uid);
    }

    match /friendRequests/{uid} {
    	allow read: if (matchesUserEmail(resource.data.to) || userOwnsResource(resource.data.from));
      allow write: if userOwnsResource(resource.data.from);
      allow create: if userIsAuthenticated();
    }
  }
}
